body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main {
    margin: 10px 10px;
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}