header {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin-right: var(--marginright);
}