@media screen and (max-width : 480px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: static;

        >img {
            background-color: red;
            width: 20%;
        }

        h1 {
            text-align: center;
        }

        button {
            margin-left: 15px;
        }
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .navigation {
        position: absolute;
        display: inline-block;
        text-align: center;
        justify-content: center;
        width: 100%;
        top: 17%;
        background-color: white;

        animation: growDown 300ms ease-in-out forwards;
    }

    .navigation a:hover {
        color: rgb(16, 144, 213);
        width: auto;
    }

    .navigation a {
        display: none;
        position: relative;
        padding: 15px;
        font-size: 25px;
        margin: 0px;
    }



    #menu::before {
        content:
            "🟰";

    }

    #menu.open::before {
        content: "✖️";

    }

    .open a {
        display: block;
        height: 100%;
    }

    #hero,
    #events {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }


    .purpose {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #moments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card1,
    .card2,
    .card3 {
        width: fit-content;
        margin: var(--margin);

    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }




}