@media only screen and (max-width : 600px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 360px;
    }

    header {
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        position: fixed;
        top: 0px;
        color: inherit;

        >img {
            background-color: inherit;
            width: 20%;
            border-radius: 50px;
        }

        h1 {
            text-align: left;
        }

        button {
            margin-left: 15px;
        }

        >.buttons {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            padding: 15px 0;
        }

        .switch {
            position: absolute;
            display: inline-block;
            width: 60px;
            height: 34px;
            background-color: black;
            border-radius: 50px;
            border: 3px solid white;
            left: 84%;
            top: 5px;

        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: goldenrod;
            -webkit-transition: .2s;
            transition: .2s;
            border-radius: inherit;
            width: 30px;


        }

        .slider .round {
            border-radius: 54px;
        }

        .slider .round:before {
            border-radius: 50%;
        }

        .slider:before {
            position: absolute;
            content: "☀️";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            -webkit-transition: .2s;
            transition: 2s;
        }


        input:checked+.slider {
            background-color: black;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider::before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            content: "🌑";
        }

    }

    nav {
        display: flex;
        justify-content: center;
    }

    .navigation {
        position: fixed;
        display: inline-block;
        text-align: center;
        justify-content: center;
        width: 111%;
        top: 12%;
        background-color: white;
    }

    .navigation a:hover {
        color: rgb(16, 144, 213);
        width: auto;
    }

    .navigation a {
        display: none;
        position: sticky;
        padding: 15px;
        font-size: 25px;
        margin: 0px;
    }

    #menu {
        background-color: inherit;
        width: 65px;
        height: 34px;
        border-radius: 25px;
        position: absolute;
        left: 80%;
        right: 0px;
        bottom: 18px;
        border: 3px solid white;

    }

    #menu::before {
        content:
            "🟰";

    }

    #menu.open::before {
        content: "✖️";

    }

    .open a {
        display: block;
        height: 100%;
        color: inherit;

    }



    .navigation .open {
        position: fixed;

    }


    main {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        >.calltoaction {
            top: -20px;
            margin-top: -20px;

            >p {
                color: black;
                font-size: 25px;
            }
        }
    }

    /* .heroimage img {
        width: 350px;
    } */

    #events {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }


    #purpose {
        margin-bottom: 30px;
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .purpose {
            display: flex;
            flex-direction: column;
        }

        >.purposetext {
            text-align: center;
            width: auto;
        }
    }
}

#moments {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 30px;
    margin-bottom: 80%;

    >.card1,
    >.card2,
    >.card3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;

        >img {
            width: 100%;
        }
    }
}

#footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    >.links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        >.details {
            margin-left: 15px;
        }
    }
}

footer .name {
    padding: 0 25%;
}

footer .email {
    padding: 0 35%;
}