@media screen and (min-width : 1080px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        >img {
            width: 5%;
            border-radius: 50px;
        }

        .switch {
            position: absolute;
            display: inline-block;
            width: 60px;
            height: 34px;
            background-color: black;
            border-radius: 50px;
            border: 3px solid white;
            left: 84%;
            top: 25px;
            text-align: center;

        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: goldenrod;
            -webkit-transition: .2s;
            transition: .2s;
            border-radius: inherit;
            width: 30px;


        }

        .slider .round {
            border-radius: 54px;
        }

        .slider .round:before {
            border-radius: 50%;
        }

        .slider:before {
            position: absolute;
            content: "☀️";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            -webkit-transition: .2s;
            transition: 2s;
        }


        input:checked+.slider {
            background-color: black;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider::before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            content: "🌑";
        }

    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a {
            display: block;
            flex: 1 1 100%;
            color: inherit;

        }
    }

    main {
        display: flex;
        flex-direction: column;
        color: inherit;

        >#hero {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
        }

        >#events {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
        }

        >#purpose {
            .purpose {
                background-color: aliceblue;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                height: 100vh;

                .purposetext {
                    width: 150px;
                }
            }

        }

        >#moments {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 100vh;
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .links {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .details {
                padding: 15px;
                margin-left: var(--marginleft);
                border-left: 3px solid rgb(77, 75, 75);
            }
        }
    }
}