@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');



:root {
    --bgcolor: rgb(121, 181, 245);
    --padding: 10px;
    --margin: 20px;
    --margintop: 30px;
    --marginbottom: 30px;
    --marginleft: 20px;
    --marginright: 20px;
}

/* body {
    display: flex;
    flex-direction: column;
    margin: var(--margin);
} */

main {
    display: flex;
    flex-direction: column;
}


li {
    list-style-type: none;
    margin-right: var(--marginright);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}



#purpose {
    margin: var(--marginbottom);
}

.purpose {
    display: flex;
    flex-direction: row;
}

#moments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




li {
    list-style: none;
}

#hero {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: var(--margin);
    align-items: center;

    .calltoaction {
        transition: transform 0.4s ease-in-out;
        border-radius: 50px;
        padding: 10px;

        >p {
            color: white;
            font-size: 40px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }


    .cta {
        background-color: rgb(133, 200, 233);
        color: white;
        width: fit-content;
        padding: 15px 30px;
        border-radius: 50px;
        border: 3px solid black;
        transition: transform 0.4s ease-in-out;

    }

    .cta:hover {
        transform: scale(1.2);
    }

    .cta:active {
        transform: scale(0.5);
    }
}

#events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--marginbottom);
}

h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to right bottom, rgb(160, 133, 57), rgb(255, 255, 255), rgb(35, 123, 152));
    row-gap: 10px;
    border-radius: 20px 0px;

    >.details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 30px;
        padding: 20px;
        background-color: inherit;
        width: auto;
        height: auto;

        >input {
            width: fit-content;
            height: auto;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 20px;
        }

        >input::placeholder {
            font-size: 15px;
            border: none;
        }

        >input:focus {
            padding: 0%;
            width: auto;
            height: auto;
            border: 4px solid rgb(232, 151, 10);
        }

        >#btn1 {
            border-radius: 20px;
            width: 50%;
            align-self: center;
        }

        >#btn1:hover {
            transform: scale(1.5);
            transition: transform, 0.4s ease-in-out;
        }

        >#results {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
        }

    }
}

.main {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-self: center;
}

.content {
    grid-column: 1/4;
    grid-row: auto;
    display: flex;
}

.content img {
    display: inline-block;
    scroll-snap-align: start;
    width: 100%;
    height: auto;
}

.sidebar {
    grid-column: 4/6;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contactcard {
    grid-row: 1/2;
    width: 400px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px 0px;
}

.contactcardsdetails {
    display: flex;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;

    background-color: bisque;

    >h2 {
        margin-bottom: 0px;
    }

    >p {
        width: 200px;
        text-align: center;
        position: relative;
    }

    >p:nth-child(3) {
        font-size: 30px;
        font-weight: 400;
        margin: 0px;
    }

    >p:nth-child(4) {
        font-size: 20px;
        margin: 0px;
    }

    img {
        width: 200px;
        height: fit-content;
        clip-path: circle();
        margin: 0px;
    }

    button {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 250px;
        height: 50px;
        border-radius: 50px;
        border: solid black 3px;

        >a {
            font-size: 20px;
        }
    }
}

button:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    box-shadow: 3px 0 0 black;
}

button:active {
    transform: scale(0.95);
    transition: transform 1s ease-in-out;
    color: blue;
}

.visit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 100%;
    border-radius: 20px;

    >.visited {
        font-size: 30px;
        text-align: center;
        align-items: center;
        padding: 20px;
        background-color: burlywood;
        width: 100%;
    }
}

iframe {

    width: 100%;
    height: 450px;
    border: 0;
    allowfullscreen: true;
    loading: lazy;
    referrerpolicy: no-referrer-when-downgrade;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #formbenefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;

    >.forms {
        display: flex;
        margin: 20px 40px;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px 20px 10px 0px;
    box-shadow: 5px 5px black;
}

textarea {
    display: block;
    width: 100%;
    border: 3px solid black;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    appearance: none;
    background-color: antiquewhite;
    height: 30px;
    border-radius: 10px;
    display: block;
    width: 80%;
}

input[type="radio"] {
    margin-right: 6px;
}

label {
    margin-top: 20px;
    font-size: 18px;
}


.benefits {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

.nonprofitcard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 100px;
    text-align: center;
}

.free {
    font-size: 23px;

    >ul {

        >li {
            list-style: square;
            text-align: left;
        }
    }
}

.profit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px;

}

.benefitscard {
    width: 300px;
    height: 400px;
    border: 3px solid black;
    margin: 10px;
    text-align: center;
    border-radius: 20px 10px 20px;
    display: flex;
    flex-direction: column;
}

.silver,
.bronze,
.gold {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;


    >ul {
        text-align: left;

        >li {
            list-style: circle;
            font-size: 20px;
        }
    }

    >p {
        font-size: 30px;
    }
} */


.bronze {
    background-color: rgb(226, 208, 147);
    width: 290px;
    height: inherit;
    border-radius: inherit;
}


.silver {
    background-color: rgb(125, 125, 122);
    width: 290px;
    height: inherit;
    border-radius: inherit;
}



.gold {
    background-color: rgb(117, 98, 34);
    width: 290px;
    height: 390px;
    border-radius: inherit;
}

.forms input:required {
    border-right: solid 8px red;
}

.forms input:required:valid {
    border-right: solid 8px green;
}


input[type="submit"] {
    height: 35px;
    font-size: 20px;
    border-radius: 20px 10px 15px;
    border: black 3px solid;

    :active {
        z-index: 0;
    }


}

input[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

#thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
    height: 28rem;

    >p {
        font-size: 30px;
    }

}

#companies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}