@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');



:root {
    --bgcolor: rgb(121, 181, 245);
    --padding: 10px;
    --margin: 20px;
    --margintop: 30px;
    --marginbottom: 30px;
    --marginleft: 20px;
    --marginright: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: var(--margin);
}

main {
    display: flex;
    flex-direction: column;
}


li {
    list-style-type: none;
    margin-right: var(--marginright);
}

a {
    text-decoration: none;
    color: black;
}

a:active,
a:hover {
    color: black;

}


#purpose {
    margin: var(--marginbottom);
}

.purpose {
    display: flex;
    flex-direction: row;
}

#moments {
    display: flex;
    flex-direction: row;
}




li {
    list-style: none;
}

#hero {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: var(--margin);
    align-items: center;
}

#events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--marginbottom);
}

h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}