@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');



:root {
    --bgcolor: rgb(121, 181, 245);
    --padding: 10px;
    --margin: 20px;
    --margintop: 30px;
    --marginbottom: 30px;
    --marginleft: 20px;
    --marginright: 20px;
}

/* body {
    display: flex;
    flex-direction: column;
    margin: var(--margin);
} */

main {
    display: flex;
    flex-direction: column;
}


li {
    list-style-type: none;
    margin-right: var(--marginright);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}



#purpose {
    margin: var(--marginbottom);
}

.purpose {
    display: flex;
    flex-direction: row;
}

#moments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}




li {
    list-style: none;
}

#hero {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: var(--margin);
    align-items: center;

    .calltoaction {
        transition: transform 0.4s ease-in-out;
        border-radius: 50px;
        padding: 10px;

        >p {
            color: white;
            font-size: 40px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }


    .cta {
        background-color: rgb(133, 200, 233);
        color: white;
        width: fit-content;
        padding: 15px 30px;
        border-radius: 50px;
        border: 3px solid black;
        transition: transform 0.4s ease-in-out;

    }

    .cta:hover {
        transform: scale(1.2);
    }

    .cta:active {
        transform: scale(0.5);
    }
}

#events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--marginbottom);
}

h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}