body {
    font-family: "Robotot";
    text-align: left;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
}

header img {
    width: 200px;
}

main {
    display: grid;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 50px;
    left: 40px;
    background: radial-gradient(#fff, #4D5B97);

    >p {
        padding: 10px;
    }

}

#record {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 300px;

    p {
        font-size: 30px;
    }
}

footer {
    align-items: center;
}